<!DOCTYPE html>
<html>
<head>
	<title>MakoAccountGenerator</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div>
			<h1>MakoAccountGenerator</h1>
			<p class="lead">This app is open source. If you dont like it or want it changed, contribute!</p>
		</div>
		
		<div class="form-check">
			<input class="form-check-input" type="checkbox" name="alert" id="alert" value="option1">
			<label class="form-check-label" for="alert">Alert on errors</label>
		</div>
		
		<div class="form-check">
			<input class="form-check-input" type="checkbox" name="useMD" id="useMD" value="option1" checked>
			<label class="form-check-label" for="useMD">Use MuleDump</label>
		</div>
		<br>
		
		<div class="card-group">
			
			<div class="card">
				<div class="card-body">
					<h1>Accounts to create:</h1>
					<textarea id="accountList" rows="7" cols="50" placeholder="Put accounts in here in the following format account1@gmail.com:account1PasswordHere account2@gmail.com:account2PasswordHere"></textarea>
					<h1><button id="createAccountButton" disabled type="button" class="btn btn-danger">Create accounts</button></h1>
				</div>
			</div>
			<div class="card">
				<div class="card-body">
					<h1>Status Log</h1>
					<textarea id="statusLog" rows="7" cols="50" placeholder="Status of account creations will be put here" readonly></textarea>
				</div>
			</div>
		</div>
	</div><!-- /.container -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="generator.js"></script>
</body>
</html>